:root {
  font-size: 14px;
}

/********************************
header
*********************************/

header {
  background-color: #38bdf8;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  color: #bae6fd;
  /* font-weight: 300; */
}

.scores {
  font-size: 1.5rem;
  /* font-weight: 300; */
}

.best-score {
  color: #0c4a6e;
}

.current-score {
  color: #ff9900;
}

/********************************
main
*********************************/

body {
  background-color: #0284c7;
}

main {
  padding: 0 20px 100px 20px;
}

main .info {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #0f172a;
  justify-content: center;
}

main .round {
  color: #fde047;
  font-style: italic;
}

main .round-scores {
  color: #10b981;
}

.cards-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  width: 150px;
  display: flex;
  flex-direction: column;
  border: 2px solid #0f172a;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  box-shadow: 0 0 6px 3px rgb(61, 117, 131);
}

.card:hover {
  transform: scale(1.07);
}

.card.over {
  cursor: default;
}

.card.over.selected {
  background-color: #10b981;
  border-color: #10b981;
  border-width: 2px;
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 138px;
}

.digimon-name {
  text-align: center;
  border-top: 2px solid gray;
  padding: 10px;
  overflow: auto;
}

/********************************
  game over - round over
*********************************/
.restart,
.next-round {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: fit-content;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  background-color: antiquewhite;
  color: #0f172a;
  border-radius: 5px;
  padding: 10px;
}

.restart .over-score {
  color: #ff9900;
  border-bottom: 3px solid #ff9900;
}

.restart button,
.next-round button {
  padding: 10px;
  background-color: #0f172a;
  border-radius: 5px;
  color: rgb(233, 155, 11);
  border: none;
  cursor: pointer;
}

@media (min-width: 1750px) {
  :root {
    font-size: 18px;
  }
  .card {
    width: 170px;
  }
}

@media (min-width: 2000px) {
  :root {
    font-size: 22px;
  }
  .card {
    width: 200px;
  }
}

@media (max-width: 670px) {
  .restart,
  .next-round {
    font-size: 1rem;
  }
}
